  <div>
    <h2><%= link_to(note_subject_or_default(note), note_path(:id => note)) %></h2>
    <%= simple_format note.body %>
    <div class="noteArticleFooter"><%= format_datetime note.updated_at %></div>
  </div>
