<div class="visitBase" style="margin-left: 35%; width: 30%;">
  <div class="spotName"><%= @visit.spot.name %></div>
  <div class="visitedOn"><%= format_date_detailed @visit.visited_on %></div>
</div>
