  <div id="profile" class="blackPaper">
    <%= image_tag(user.gravatar_url(:size => 100), :size => '100x100', :alt=> user.login) %>
    <p><%= link_to "#{h(user.login)}さん"%></p>
    <hr />
    <% if user == current_user -%>
      <div class="operation"><%= link_to 'プロフィール情報を変更', edit_user_path(:id => current_user.id) %></div>
    <% end -%>
  </div>
